<p>
 <strong> Question: </strong> <%= @question.body %>
</p>

<h3> Answers: </h3>
<ol>
  <%= render @question.answers %>
</ol>
<p>
  <strong> Actions </strong>
</p>
<p> <%= link_to 'To test', admin_test_path(@question.test) %></p>