<footer class="footer">
    <p> Год <%= show_year %>, проект создан Румянцевым Андреем</p>
    <p> Веб сайт предназначен для создания и прохождения тестов на разные темы </p>
    <p> Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: :_blank %> </p>
    <p><%= github_url(title:'TestGuru на GitHub', author: 'phantom-profile', repo: 'TestGuru') %></p>
</footer>