.progress-bar {
  width: 1000px;
  border-color: black;
  border-radius: 2px;
}

.completed-question {
  background-color: green;
  color: white;
}

.current-question {
  background-color: darkgray;
}