<h1> Tests on TestGuru </h1>

<table>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Level</th>
    <th>Questions</th>
    <th>Passage Time</th>
  </tr>

  <%= render @tests %>
</table>