<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailbox {
        border: 3px solid cornflowerblue;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <div class="mailbox">
      <%= yield %>
    </div>
  </body>
</html>
